{% if dynamic == false %}

    {% if render_type in ['js', 'both'] %}
        {% javascripts '@WebnrollExtBundle/Resources/public/js/backbone/json2.js' '@WebnrollExtBundle/Resources/public/js/backbone/underscore-min.js' '@WebnrollExtBundle/Resources/public/js/backbone/backbone-min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endif %}