{% if dynamic == false %}

    {% if render_type in ['js', 'both'] %}
        {% javascripts '@WebnrollExtBundle/Resources/public/js/bootstrap/bootstrap.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

    {% if render_type in ['css', 'both'] %}
        {% stylesheets 'bundles/webnrollext/css/bootstrap/bootstrap.min.css'
            'bundles/webnrollext/css/bootstrap/bootstrap-theme.min.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endif %}

{% endif %}