{% if render_type in ['css', 'both'] %}
    {% stylesheets '@WebnrollExtBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endif %}

{% if render_type in ['js', 'both'] %}
    {% javascripts '@WebnrollExtBundle/Resources/public/js/jquery-latest.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endif %}