{% if dynamic == false %}

    {% if render_type in ['js', 'both'] %}
        {% javascripts '@WebnrollExtBundle/Resources/public/js/jqgrid/jquery.jqGrid.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript"
                src="{{ asset('bundles/webnrollext/js/jqgrid/i18n/grid.locale-' ~ locale ~ '.js') }}"></script>
    {% endif %}

    {% if render_type in ['css', 'both'] %}
        {% stylesheets 'bundles/webnrollext/css/jqgrid/ui.jqgrid.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {% if bootstrap %}
            {% stylesheets 'bundles/webnrollext/css/jqgrid/ui.jqgrid-bootstarp.css' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endif %}
    {% endif %}

{% endif %}