{% if dynamic == false %}

    {% if render_type in ['js', 'both'] %}
        {% javascripts '@WebnrollExtBundle/Resources/public/js/jqueryui/jquery-ui-latest.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

    {% if render_type in ['css', 'both'] %}
        <link rel="stylesheet" href="{{ asset('bundles/webnrollext/css/jqueryui/' ~ theme ~ '/jquery-ui.min.css') }}"/>
        <link rel="stylesheet"
              href="{{ asset('bundles/webnrollext/css/jqueryui/' ~ theme ~ '/jquery.ui.theme.css') }}"/>
    {% endif %}

{% endif %}