{% if dynamic == false %}

    {% if render_type in ['js', 'both'] %}
        {% javascripts '@WebnrollExtBundle/Resources/public/js/namespace/jquery.namespace.js'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

{% endif %}